[Unit]
Description=Nixie clock serial port sync daemon
After=network.service

[Service]
ExecStart=/usr/local/bin/nixieclockd
User=root

[Install]
WantedBy=default.target
